@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tasks</h1>
</div>

<div ng-app="tasks" ng-controller="indexController as vm" ng-init="vm.initializeController()" class="row">
    <div class="col-md-4">
        <h2>{{title}}</h2>
    </div>
</div>

<script src="~/Scripts/ViewControllers/IndexController.js"></script>